extends ../template

block variables
    - var title = 'Добро пожаловать'

block content

    form
        a#flipper-rotate.flipper-rotate rotate

        .flipper#flipper

            .flipper__front
                | front

            .flipper__back
                | back
